html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: #000;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, u {
  text-decoration: none;
}

p.about_text {
  color: white;
  font-size: 14px;
  line-height: 17px;
}

h1.about_text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

div.about_text {
  width: 600px;
  padding-top: 140px;
}

div.app_header {
  padding: 33px
}

h1.app_header {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: white;
  margin: 0px 0px 12px 0px;
}

#menu_links{
  text-align: end;
  padding: 0px;
}

#menu_links a{
  color: white;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 14px;
  /* padding-inline: 30px 0px; */
  text-decoration: none;
  white-space: nowrap;
}

div.welcomePopup {
  width: 100%;
  height: 100vh;
  background-color: #333;
  /* background-image: url("/welcome-bg.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

div.welcome {
  height: 460px;
  margin: auto;
  padding: 0 0 100px 0;
}


h1.welcome {
  font-weight: bold;
  color: white;
  margin-bottom: 24px;
}

p.welcome {
  font-size: 15px;
  line-height: 20px;
  color: white;
  margin-top: 24px;
}

div.dark_mode{
  width: 100%;
  height: 100vh;
  background-color: #000;
  flex-grow: 1;
  position: fixed;
}


div.visualView {
  flex-grow: 1;
  background-color: #000;
  margin:10px;
  /* overflow: hidden; */
}

ul.listings, li.listings {
  background-color: #000;
  color: white;
  font-size: 13px;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  width: 260px;
  margin-block-start: 0;
}

ul.listings li div:hover {
  background-color: #111;
}
div.listpanelcontainer {
  width: 300px;
  height: calc(100vh - 102px);
  overflow: scroll;
}
div.listingpanel {
  margin-bottom: 20px;
}

div.listings_min {
  height: calc(50vh - 140px);
  width: 300px;
  overflow: hidden;
  padding: 0px 20px;
}

div.listings_max {
  /* height: calc(70vh - 140px); */
  width: 300px;
  overflow: hidden;
  padding: 0px 20px;
}


h1.listings {
  font-size: 15px;
  font-weight: bolder;
  line-height: 15px;
  color: white;
  margin-block-start: 0em;
  /* margin-bottom: 24px; */
  padding-inline: 20px 0px;
}

h1.listitem {
  font-size: 13px;
  font-weight: normal;
  /* line-height: 13px; */
  color: white;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2.listitem {
  font-size: 13px;
  font-weight: normal;
  /* line-height: 13px; */
  color: #737373;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

div.listSeeMore {
  text-align: center;
  margin-top: -40px;
  position:relative;
  color: #FFF;
}

div.listSeeMoreMask {
  width: 300px;
  height: 40px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  position:relative;
}

div.disableSeeMoreButton { 
  pointer-events: none; 
  color: #000;
}

div.listSeeMoreButton:hover {
  background-color: #111;
  cursor:pointer;
}

span.listSeeMore {
  font-size: 10px;
  font-weight: bold;
  margin-top: -6px;
  display: inline-block;
  /* color: white; */
}




/* modify based on screen size */
@media screen and (orientation: landscape) 
   and (max-height: 320px) {
    div.about_text {
      padding-top: 20px;
      width: calc(100vw - 80px);
    }
    div.app_header {
      padding-top: 24px;
      padding-bottom: 24px;
    }
}
@media screen and (orientation: portrait) 
  and (max-width: 320px) {
    div.about_text {
      padding-top: 40px;
      width: calc(100vw - 80px);
    }
    div.app_header {
      padding-top: 24px;
      padding-bottom: 24px;
    }
}

@media screen and (orientation: landscape)
   and (min-height: 321px) {
    div.about_text {
      padding-top: 40px;
      width: calc(100vw - 100px);
    }
    div.app_header {
      padding-top: 24px;
      padding-bottom: 24px;
    }

}


@media screen and (orientation: portrait)
   and (min-width: 320px) {
  div.about_text {
    padding-top: 40px;
    width: calc(100vw - 80px);
  }
  div.app_header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


@media screen and (min-width: 560px) and (orientation: landscape){
  h1.welcome {
    font-size: 96px;
    line-height: 100px;
  }
  div.welcome {
    width: 578px;
  }
  #menu_links a{
    padding-inline: 30px 0px;
  }
  div.visualView {
    height: calc(100vw - 320px);
    width: calc(100vw - 320px);
    max-height: calc(100vh - 110px);
  }
}

@media screen and (max-width: 560px) and (orientation: landscape) {
  div.app_header {
    padding-left: 32px;
    padding-right: 32px;
  }

  div.dark_mode{
    flex-grow: 1;
    position: fixed;
  }

  h1.welcome {
    font-size: 64px;
    line-height: 68px;
  }
  div.welcome {
    width: 400px;
  }
  
  #menu_links a{
    padding-inline: 0px 30px;
  }

  div.listpanelcontainer {
    width: 100vw;
    height: calc(100vh - 102px);
    overflow: scroll;
  }
  div.visualView {
    height: calc(100vw - 20px);
    width: calc(100vw - 0px);
    max-height: calc(50vh - 110px);
    margin:0px;
  }
}
@media screen and (max-width: 320px)  and (orientation: landscape) {
  div.app_header {
    padding-left: 18px;
    padding-right: 18px;
  }
  div.dark_mode{
    flex-grow: 1;
    position: fixed;
  }
  h1.app_header {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin: 0px 0px 4px 0px
  }
  p.about_text {
    width: 240px;
    padding-top: 40px;
  }

  #menu_links a{
    font-size: 10px;
    line-height: 14px;
  }
  
  div.listpanelcontainer {
    width: 100vw;
    height: calc(100vh - 102px);
    overflow: scroll;
  }
  div.visualView {
    height: calc(100vw - 20px);
    width: calc(100vw - 0px);
    max-height: calc(50vh - 110px);
    margin:0px;
  }
  h1.welcome {
    font-size: 32px;
    line-height: 48px;
  }
  div.welcome {
    width: 300px;
  }

  #menu_links{
    text-align: start;
  }
  #menu_links a{
    padding-inline: 0px 24px;
  }
}







@media screen and (min-width: 560px) and (orientation: portrait){
  h1.welcome {
    font-size: 96px;
    line-height: 100px;
  }
  div.welcome {
    width: 578px;
  }
  #menu_links a{
    padding-inline: 30px 0px;
  }
  div.visualView {
    height: calc(100vh - 110px);
    width: calc(100vw - 320px);
    max-height: calc(100vh - 110px);
  }
}

@media screen and (max-width: 560px) and (orientation: portrait) {
  div.app_header {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  h1.app_header {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin: 0px 0px 4px 0px
  }
  div.dark_mode{
    flex-grow: 1;
    position: fixed;
  }

  h1.welcome {
    font-size: 64px;
    line-height: 68px;
  }
  div.welcome {
    width: 90vw;
  }
  
  #menu_links a{
    padding-inline: 0px 30px;
  }

  div.listpanelcontainer {
    width: 100vw;
    height: calc((100vh / 3 * 2) - 104px);
    overflow: scroll;
  }
  div.visualView {
    height: calc(100vh / 3);
    width: calc(100vw - 0px);
    /* max-height: calc(50vh - 110px); */
    margin:0px;
  }
}
@media screen and (max-width: 320px)  and (orientation: portrait) {
  div.app_header {
    padding-left: 18px;
    padding-right: 18px;
  }
  div.dark_mode{
    flex-grow: 1;
    position: fixed;
  }
  h1.app_header {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin: 0px 0px 4px 0px
  }
  p.about_text {
    width: 240px;
    padding-top: 40px;
  }

  #menu_links a{
    font-size: 10px;
    line-height: 14px;
  }
  
  div.listpanelcontainer {
    width: 100vw;
    height: calc((100vh / 3 * 2) - 104px);
    overflow: scroll;
  }
  div.visualView {
    height: calc(100vw - 20px);
    width: calc(100vw - 0px);
    max-height: calc(50vh - 110px);
    margin:0px;
  }
  h1.welcome {
    font-size: 32px;
    line-height: 48px;
  }
  div.welcome {
    width: 90vw;
  }

  #menu_links{
    text-align: start;
  }
  #menu_links a{
    padding-inline: 0px 24px;
  }
}
