html, body, #app, #app>div {
  height: 100%;
  background-color: #000;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.app_header {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: white;
  margin: 0px 0px 12px 0px;
}

#menu_links{
  text-align: end;
  padding: 0px;
}

#menu_links a{
  color: white;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 14px;
  padding-inline: 30px 0px;
  text-decoration: none;
  white-space: nowrap;
}

div.welcomePopup {
  width: 100%;
  height: 100vh;
  background-color: #333;
  /* background-image: url("/welcome-bg.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

div.welcome {
  height: 400px;
  margin: auto;
  padding: 0 0 100px 0;
}

@media screen and (min-width: 600px) {
  h1.welcome {
    font-size: 96px;
    line-height: 100px;
  }
  div.welcome {
    width: 578px;
  }
}

@media screen and (max-width: 600px) {
  h1.welcome {
    font-size: 64px;
    line-height: 68px;
  }
  div.welcome {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  h1.welcome {
    font-size: 48px;
    line-height: 52px;
  }
  div.welcome {
    width: 300px;
  }
  
  #menu_links{
    text-align: start;
  }
  #menu_links a{
    padding-inline: 0px 0px;
  }
}

h1.welcome {
  font-weight: bold;
  color: white;
  margin-bottom: 24px;
}

p.welcome {
  font-size: 15px;
  line-height: 20px;
  color: white;
  margin-top: 24px;
}

div.dark_mode{
  width: 100%;
  height: 100vh;
  background-color: #000;
  flex-grow: 1;
}



@media screen and (min-width: 600px) {
  div.visualView {
    height: calc(100vw - 340px);
    width: calc(100vw - 340px);
  }
}

@media screen and (max-width: 600px) {
  div.visualView {
    height: calc(100vw - 20px);
    width: calc(100vw - 20px);
  }
}


div.visualView {
  flex-grow: 1;
  background-color: #000;
  margin:10px
  /* overflow: hidden; */
}

ul.listings {
  background-color: #000;
  color: white;
  font-size: 13px;
}